$sizes: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

@each $size in $sizes {
	.m-#{size} {
		margin: $size + px;
	}

	.mt-#{$size} {
		margin-top: $size + px;
	}

	.mr-#{$size} {
		margin-right: $size + px;
	}

	.mb-#{$size} {
		margin-bottom: $size + px;
	}

	.ml-#{$size} {
		margin-left: $size + px;
	}

	.p-#{size} {
		padding: $size + px;
	}

	.pt-#{$size} {
		padding-top: $size + px;
	}

	.pr-#{$size} {
		padding-right: $size + px;
	}

	.pb-#{$size} {
		padding-bottom: $size + px;
	}

	.pl-#{$size} {
		padding-left: $size + px;
	}
}
